{define return, $function}
{* *}
{if $function->hasReturnType()}
{var $urlLinker = $function->getUrlLinker()}

## Return
**Type:** {$function->getReturnTypeMd($urlLinker)}

{$function->getReturnDescription()}
{* *}
{/if}
{/define}