*.sqlite
*.clover
*.cache
*.gitignore.*

output/
outputTest/*

# composer
/vendor/
/composer.lock

# phpunit, phpstan
.phpunit.result.cache
phpstan.neon
.phpunit.cache/test-results

# coverage, tests & others
build/
*.phar
Dev/large.votes
*.temp

# IDE
*.idea
*.code-workspace
.vscode

# Sys
.DS_Store