{templateType JulienBoudry\PhpReference\Template\Input\ApiSummaryInput}
{import 'classIndex.latte'}
{import 'parts/namespace_tables.latte'}
# API Reference Index

{foreach $namespaces as $namespaceInput}
## {$namespaceInput->namespaceWrapper->namespace}
{* *}
{include classTable, classes: $namespaceInput->classes}

{include enumTable, enums: $namespaceInput->enums}

{/foreach}
