{templateType JulienBoudry\PhpReference\Template\Input\ApiSummaryInput}
{import 'classIndex.latte'}
# API Reference Index

{foreach $namespaces as $namespace => $classes}
## {$namespace}
| Class Name | Description |
| ------------- | ------------- |
{foreach $classes as $className => $class}
| [{$class->shortName}]({$class->getPageUrl()}) | {$class->getDescription()} |
{/foreach}

{/foreach}