{templateType JulienBoudry\PhpReference\Template\Input\ClassPageInput}
{import 'classIndex.latte'}

# {$class->shortName}

{if $description = $class->getDescription()}
## Description
{$description}
{/if}

## Class Hierarchy

{include classIndex, $class}

## Class Representation

```php
{$class->getSignature()}
```