{templateType JulienBoudry\PhpReference\Template\Input\ClassPageInput}
{import 'readItAtSource.latte'}
{import 'classIndex.latte'}
{import 'description.latte'}
{* *}
# {$type} {$class->shortName}
{include readItAtSource, $class}
{* *}
{include description, $class}
{* *}

## Elements
{include classIndex, $class}

## Representation
```php
{$class->getSignature(onlyApi: true)}
```