{define manual, $reflection}
{var $ReflectionWrapper = JulienBoudry\PhpReference\Reflect\ReflectionWrapper::class}
{* *}
{if $bookTags = $reflection->getResolvedBookTags()}

## Manual
{foreach $bookTags as $resolved}
{* *}
- **[Manual page]({$resolved})**
{/foreach}
{/if}
{/define}
