{templateType JulienBoudry\PhpReference\Template\Input\MethodPageInput}

# {$method->name}
{if $sourceLink = $method->getSourceLink()}
> [Read it at the source]({$sourceLink})
{/if}
```php
{$method->getSignature()}
```


{if $description = $method->getDescription()}
## Description
{$description}
{/if}