{templateType JulienBoudry\PhpReference\Template\Input\MethodPageInput}
{import 'description.latte'}
{import 'params.latte'}
{import 'return.latte'}
{import 'throws.latte'}
{* *}
# {$method->name}()
{if $sourceLink = $method->getSourceLink()}
> [Read it at the source]({$sourceLink})
{/if}

```php
{$method->getSignature()}
```
{* *}
{include description, $method}
{* *}
{include params, $method}
{* *}
{include return, $method}
{* *}
{include throws, $method}