{define params, $function}
{* *}
{if $parameters = $function->getParameters()}
{var $urlLinker = $function->getUrlLinker()}

## Parameters
{foreach $parameters as $param}

### **{$param->name}:**
```php
{$param->getSignature()}
```
**Type:** {$param->getTypeMd($urlLinker)}

{$param->getDescription()}
{/foreach}
{/if}
{/define}