{templateType JulienBoudry\PhpReference\Template\Input\PropertyPageInput}

# {$property->name}
```php
{$property->getSignature()}
```
{if $description = $property->getDescription()}
## Description
{$description}
{/if}