{templateType JulienBoudry\PhpReference\Template\Input\PropertyPageInput}
{import 'description.latte'}
{* *}
# {$property->name}
```php
{$property->getSignature()}
```
{* *}
{include description, $property}
{* *}
