{define throws, $reflection}
{* *}
{if $throwsTags = $reflection->getResolvedThrowsTags()}
{var $urlLinker = $reflection->getUrlLinker()}

## Throws
{foreach $throwsTags as $resolved}
{* *}
{var $url = $resolved['destination'] ? $urlLinker->to(page: $resolved['destination'])}
{* *}
- **[{$resolved['tag']->getType()}]({$url})**{if $resolved['tag']->getDescription()} _{$resolved['tag']->getDescription()}_{/if}
{/foreach}
{/if}
{/define}